@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 15px;
    
}
a{
    color: #333333;
    text-decoration: none;
}
p{
    color: #828282;
}
span {
    color: #6F77F1;
}
.purple {
    color: purple;
}

.purple1 {
    color: purple;
}

.purple2 {
    color: purple;
}
.aside2 {
    background-image: url("images/Rectangle\ 922.png");
    /* margin-left: 20%; */
    padding-top: 3%;
    padding-bottom: 2%;
}
.aside3 {
    background-color: #FAFAFA;
}
.aside7 {
    background-color: #FAFAFA;
}
.aside10 {
    margin-top: 10%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.rectangle79 {
    position: absolute;
    padding-left: 5%;
}

.rectangle80 {
    padding-left: 2.6%;
    position: absolute;
}

.rectangle925 {
    padding-left: 90%;
    padding-top: 10%;
    height: 80%;
    width: 80%;
}
.rectangle929 {
    padding-left: 90%;
    display: none;
}
.rectangle933 {
    padding-left: 90%;
    /* padding-top: 10%; */
    height: 80%;
    width: 80%;
}
.rectangle934 {
    padding-left: 1%;
    
}

.rectangle936 {
    display: none;
}
.logo {
    position: relative;
}
.logo1{
    position: relative;
}
.ellipse24 {
    padding-left: 90%;
}

.ellipse20{
    display: none;
}

.ellipse21 {
    display: none;
}

.image33 {
    height: 80%;
    width: 80%;
}

.image34 {
    margin-top: 10%;
    height: 80%;
    width: 80%;
}
.brandname {
    font-weight: 500;
    font-size: 40px;
}
.header {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  .navigation {
    display: none;
  }
  .collapse{
    display: block;
  }
  .search {
    display: none;
  }
  .overview {
    display: none;
}
.paragraph {
    position: relative;
}

.export {
    position: relative;
    padding-top: 50%;
    padding-left: 60%;
    color: #6F77F1;
    transform: rotate(-8.23deg);
}
.borderdesign {
    position: absolute;
}

.creativeTeam {
    padding-left: 55%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text {
    font-weight: 400;

}

.website {
    color: #6F77F1;
}
.background {
    position: absolute;
}
.keywordResearch{
    padding-top: 5%;
    background-image: url("images/1.png");
    background-position: right 35% bottom 50%;
    background-repeat: no-repeat;
}
.contentOptimisation {
    padding-top: 5%;
    background-image: url("images/2.png");
    background-position: right 35% bottom 50%;
    background-repeat: no-repeat;
}
.targetAnalysis {
    padding-top: 5%;
    background-image: url("images/3.png");
    background-position: right 35% bottom 50%;
    background-repeat: no-repeat;
}
.continueTesting {
    padding-top: 5%;
    background-image: url("images/4.png");
    background-position: right 35% bottom 50%;
    background-repeat: no-repeat;
}
.bussiness {
    color: #6F77F1;
}
.plansVlue {
    color: #828282;
}
.seeOptimisation {
    background-color: white;

}

.numbers {
    color:#666565;
}

.inputType {
    background-color: #F2F2F2;
    border-radius: 4px;
    border:1px #666565;
}

.button1 {
  /* background-color: rgba(51, 51, 51, 0.05); */
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.client {
    overflow-y: scroll;
}
.aside2res{
    display: block;
}


#inputName {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#inputMail {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#button2 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#button2:disabled {
  cursor: default;
}

#button2:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
#laptopImage {
    max-width: 100%;
    height: auto;
}


  @media all and (min-width: 600px) {
    .header {
        justify-content: center;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }
    .item {
        width: auto;
        order: 1;
        display: block;
    }
    .menu li {
        padding: 10px 15px;
        margin: 5px 0;
    }
    a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    a {
        background: transparent;
        border: 1px #0080ff solid;  
    }
    a:hover {
        text-decoration: none;
    }
    .collapse {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .home {
        padding-left: 5%;
        padding-right: 5%;

    }
    .overview {
        display: flex;
    }
    .overView2 {
        display: none;
    }
    .aside2 {
        display: flex;
    }
    .aside2res{
        display: none;
    }
    .aside4 {
        display: none;
    }
    .ellipse20 {
        display: block;
        padding-left: 60%;
        position: absolute;
    }
    .ellipse21{
        display: block;
        padding-left: 5%;
        padding-top:11%;
        position: absolute;
    }
    .headLine {
        position: relative;
    }
    .header {
        display: none;
    }
}
    
  

@media all and (min-width: 960px) {
    .toggle {
        display: none;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .collapse {
        display: none;
    }
    .overview {
        display: flex;
    }
    .overView2{
        display: none;
    }
    .aside2 {
        display: flex;
        align-items: center;
    }
    .aside4 {
        display: flex;
        align-items: center;
    }
    .header {
        display: none;
    }
}


@media all and (min-width: 1440px) {
    .header {
        display: none;
    }
}
.swiper {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

  /* .swiper-slide img {
    display: block;
    width: 60%;
    height: auto;
    object-fit: cover;
  } */

